/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* font-family: "Inter", sans-serif; */
/* main conteiner styles */
.conteiner {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 138px;
}
/* header styles */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #372d23;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: inherit;
  width: inherit;
  padding: 32px 80px;
  z-index: 1;
}

/* header nav ul styles */
.header_nav_ul {
  display: flex;
  column-gap: 48px;
}
/* header nav ul li a styles */
.nav_li_a {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #fcc21b;
}
/* inactive active styles */
li:nth-child(1) .nav_li_a {
  color: #ed6c30;
}
/* hover styles */
.nav_li_a:hover {
  color: #d74501;
}

/* icon styles */
.bag_class {
  font-size: 40px;
  color: #fcc21b;
}
.bag_class:hover {
  color: #d74501;
}

/* section1 styles */
.section1 {
  position: relative;
  height: 640px;
}
/* section1 img styles */
.cover_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section1 article styles */
.section1_art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(762 / 1440 * 100%);
  height: 208px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: #fcc21b;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 4px #00000080 inset;
}

/* section1 article h1 styles */
.article_title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
  text-shadow: 6px 2px 4px #372d23;
}
/* section2 styles */
.section2 {
  display: flex;
  column-gap: 100px;
  width: calc(1200 / 1440 * 100%);
  margin: 100px auto;
}
.img_div {
  width: 550px;
  height: 400px;
}
.sec2_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2_art {
  width: calc(550 / 1200 * 100%);
  height: calc(228 / 400 * 100%);
  /*  ტექსტს ვერ მოვუხერხე ვერაფერი :( */
}

.article_title2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #372d23;
  margin-bottom: 40px;
}
.article_p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #c65c14;
}
/* footer styles */
.footer_link {
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
}
/* burger menu styles */

.burg_ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.burg_li_a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fcc21b;
}
.burg_li_a:hover {
  color: #d74501;
}
.soc_nav {
  display: flex;
}
/* social media nav style */
.soc_nav_ul {
  display: flex;
  column-gap: 24px;
}

.soc_nav_li_a {
  font-size: 32px;
  color: #fcc21b;
}
.soc_nav_li_a:hover {
  color: #d74501;
}
